<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PCAP_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/pcap.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="BOOT_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/boot.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.boot" level="WARN">
        <appender-ref ref="BOOT_LOG" />
    </logger>

    <logger name="org.pcap4j" level="WARN">
        <appender-ref ref="PCAP_LOG" />
    </logger>

<!--    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>-->
</configuration>